body, html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f6ff;
  color: #617182;
  overflow: hidden; }

/* HEADER
   ========================================================================== */
.header {
  height: 4rem;
  background-color: #fff;
  box-shadow: 0 1px 1px 1px #126ad31a;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 30px;
  display: flex;
  align-items: center; }

.header__jobs {
  margin-left: auto; }
  .header__jobs a {
    cursor: pointer; }
  .header__jobs a::after {
    content: '|';
    margin-left: 10px;
    margin-right: 10px;
    opacity: .5; }
  .header__jobs a:last-child::after {
    display: none; }
  .header__jobs a:hover {
    text-decoration: underline; }
  .header__jobs a.is-active {
    font-weight: bold; }

.header__search {
  padding: 11px 10px;
  border: solid 1px #dfe7f3; }

.header__btn {
  background-color: #6861c3;
  border: 1px solid #6861c3;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  user-select: none;
  padding: 8px 20px;
  font-size: .875rem;
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
  height: 38px;
  vertical-align: middle;
  font-weight: 300;
  transition: box-shadow .3s ease;
  cursor: pointer; }
  .header__btn:hover {
    box-shadow: 0 5px 10px #736cc766; }

/* Footer
   ========================================================================== */
.footer {
  position: absolute;
  bottom: 10px;
  right: 10px; }

.footer__legend {
  display: inline-block;
  margin-left: 10px; }
  .footer__legend::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    background-color: #294a66;
    color: #13222f;
    width: 20px;
    height: 5px;
    border: 1px solid #13222f; }

.footer__legend.is-language::before {
  background-color: #ff5f5f;
  border-color: #ff1313;
  color: #ff1313; }

.footer__legend.is-tool::before {
  background-color: #0060ca;
  border-color: #003c7e;
  color: #003c7e; }

.footer__legend.is-framework::before {
  background-color: #6a9c78;
  border-color: #4a6f55;
  color: #4a6f55; }

.footer__legend.is-root::before {
  background-color: #000;
  border-color: #000;
  color: #000; }

.link {
  position: absolute;
  color: inherit;
  bottom: 10px;
  left: 10px; }
  .link:hover {
    text-decoration: none; }

/* Graph
   ========================================================================== */
.node {
  cursor: pointer; }

.ring {
  fill: #6ac6ff;
  opacity: 0;
  stroke-width: 2px; }

.node:hover .ring {
  opacity: 0.3; }

.outline {
  fill: #294a66;
  stroke-width: 2px;
  stroke: #13222f; }

.node-language .outline {
  fill: #ff5f5f;
  stroke-width: 2px;
  stroke: #ff1313; }

.node-tool .outline {
  fill: #0060ca;
  stroke-width: 2px;
  stroke: #003c7e; }

.node-framework .outline {
  fill: #6a9c78;
  stroke-width: 2px;
  stroke: #4a6f55; }

.node-source .outline {
  fill: #000;
  stroke-width: 2px;
  stroke: #000; }

.links line {
  stroke: #777;
  stroke-width: 2px; }

svg {
  cursor: all-scroll; }
