$node: #294a66;
$colors: language #ff5f5f, tool #0060ca, framework #6a9c78;

body, html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f6ff;
  color: #617182;
  overflow: hidden;
}

/* HEADER
   ========================================================================== */
.header {
  height: 4rem;
  background-color: #fff;
  box-shadow: 0 1px 1px 1px #126ad31a;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 30px;
  display: flex;
  align-items: center;
}

.header__jobs {
  margin-left: auto;

  a {
    cursor: pointer;
  }

  a::after {
    content: '|';
    margin-left: 10px;
    margin-right: 10px;
    opacity: .5;
  }

  a:last-child::after {
    display: none;
  }

  a:hover {
    text-decoration: underline;
  }

  a.is-active {
    font-weight: bold;
  }
}

.header__search {
  padding: 11px 10px;
  border: solid 1px #dfe7f3;
}

.header__btn {
  background-color: #6861c3;
  border: 1px solid #6861c3;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  user-select: none;
  padding: 8px 20px;
  font-size: .875rem;
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
  height: 38px;
  vertical-align: middle;
  font-weight: 300;
  transition: box-shadow .3s ease;
  cursor: pointer;

  &:hover {
    box-shadow: 0 5px 10px #736cc766;
  }
}

/* Footer
   ========================================================================== */
.footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.footer__legend {
  display: inline-block;
  margin-left: 10px;
  &::before {
    content:'';
    display: inline-block;
    vertical-align: middle;
    background-color: $node;
    color: darken($node, 15);
    width: 20px;
    height: 5px;
    border: 1px solid darken($node, 15);
  }
}

@each $color in $colors {
  .footer__legend.is-#{nth($color, 1)}::before{
    background-color: nth($color, 2);
    border-color: darken(nth($color, 2), 15);
    color: darken(nth($color, 2), 15);
  }
}

.footer__legend.is-root::before{
  background-color: #000;
  border-color: #000;
  color: #000;
}

.link {
  position: absolute;
  color: inherit;
  bottom: 10px;
  left: 10px;

  &:hover {
    text-decoration: none;
  }
}

/* Graph
   ========================================================================== */
.node {
  cursor: pointer;
}

.ring {
  fill: #6ac6ff;
  opacity: 0;
  stroke-width: 2px;
}

.node:hover .ring {
  opacity: 0.3;
}

.outline{
  fill: $node;
  stroke-width: 2px;
  stroke: darken($node, 15);
}

@each $color in $colors {
  .node-#{nth($color, 1)} .outline{
    fill: nth($color, 2);
    stroke-width: 2px;
    stroke: darken(nth($color, 2), 15);
  }
}

.node-source .outline {
  fill: #000;
  stroke-width: 2px;
  stroke: #000;
}

.links line {
  stroke: #777;
  stroke-width: 2px;
}

svg {
  cursor: all-scroll;
}
